<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Amazon Test">


	<test name="Amazon Test">

		<parameter name="browser" value="chrome" />

		<classes>
			<class name="amazon.TestCases.TC_AmazonSearch" />
			
		</classes>

	</test>

</suite>